<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All course</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
<!--    Start Header-->
<nav class="navbar navbar-expand-md navbar-light bg-light navbar-fixed-top header">
    <div class="container-fluid">
        <a class="navbar-branch" href="#">
            <img src="../img/logofit.png" height="120">
        </a>
        <a href="#" class="navbar-branch h2 font-weight-bold" style="font-size: 60px;text-decoration: none;">FIT LMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="index.html">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/hanufit">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="allcourses.html">All courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mycourse.html">My course</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--    End Header-->
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="../img/infit.png"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
    <form>
        <div class="container">
            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login</p>
            <div class="form-outline mb-4">
                <label class="form-label" for="username-input"><b>User name</b></label>
                <input type="text" id="username-input" class="form-control form-control-lg"
                       placeholder="Enter your username" name="uname" required />
            </div>
            <div class="form-outline mb-3">
                <label class="form-label" for="password-input"><b>Password</b></label>
                <input type="password" id="password-input" class="form-control form-control-lg"
                       placeholder="Enter password" name="psw" required />
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <!-- Checkbox -->
                <div class="form-check mb-0">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example" />
                    <label class="form-check-label" for="form2Example">
                        Remember me
                    </label>
                </div>
                <a href="#!" class="text-body">Forgot password?</a>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
                <button type="button" class="btn btn-primary btn-lg" id="submit-btn"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="register.html"
                                                                                  class="link-danger">Register</a></p>
            </div>
        </div>

    </form>
            </div>
        </div>
    </div>

</section>
    <div class="popup">
        <div class="notifi">
            <!-- <p class="message">Login successfully!</p> -->
        </div>
    </div>
<!--Start Footer -->
<footer style="margin-top:20px">
    <div class="container-fluid padding">
        <div class="row row-footer">
            <div class="col-md-12">
                <img class="img-fluid img-footer" src="../img/logofit.png" height="50">
                <div class="footer-text">
                    <p>Faculty of Information Technology - Hanoi University</p>
                    <p>Address: Km9, Nguyen Trai Street, Nam Tu Liem, Ha Noi, Viet Nam</p>
                    <p>Tel: (84-24) 38544338</p>
                    <p>Email: hanu@hanu.edu.vn | tuyensinh@hanu.edu.vn</p>
                </div>
            </div>
            <div class="col-md-12 text-sm-center">
                <a href="https://www.facebook.com/search/top?q=hanu%20sports%20activities"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5 class="text-center footer-text">&copy; <strong>Nguyen Huy Duc</strong></h5>
            </div>
        </div>
    </div>
</footer>
<!--End footer-->
</body>
<script type="module" src="../js/login.js"></script>
</html>