<footer>
     <div class="container-fluid padding">
         <div class="row row-footer">
             <div class="col-md-12">
                 <img class="img-fluid img-footer" src="./img/logofit.png" height="50">
                  <div class="footer-text">
                    <p>Faculty of Information Technology - Hanoi University</p>
                    <p>Address: Km9, Nguyen Trai Street, Nam Tu Liem, Ha Noi, Viet Nam</p>
                    <p>Tel: (84-24) 38544338</p>
                    <p>Email: hanu@hanu.edu.vn | tuyensinh@hanu.edu.vn</p>
                  </div>
             </div>
             <div class="col-md-12 text-sm-center">
                 <a href="https://www.facebook.com/search/top?q=hanu%20sports%20activities"><i class="fa fa-facebook"></i></a>
                 <a href="#"><i class="fa fa-twitter"></i></a>
                 <a href="#"><i class="fa fa-google"></i></a>
                 <a href="#"><i class="fa fa-instagram"></i></a>
                 <a href="#"><i class="fa fa-youtube"></i></a>
             </div>
             <div class="col-12">
                 <hr class="light-100">
                 <h5 class="text-center footer-text">&copy; <strong>Nguyen Huy Duc</strong></h5>
             </div>
         </div>
     </div>
 </footer>