<nav class="navbar navbar-expand-md navbar-light bg-light navbar-fixed-top header">
    <div class="container-fluid">
        <a class="navbar-branch" href="#">
            <img src="./img/logofit.png" height="120">

        </a>
        <a href="#" class="navbar-branch h2" style="text-decoration: none">FIT LMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/">Scores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/course">COURSES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">QUIZZ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">REGISTER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">LOGIN</a>
                </li>
            </ul>
        </div>
    </div>
</nav>